* {
  margin: 0;
}



.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app {
  background-color: #fafafa;
 
}

.app__signUp {
  
  display: flex;
  
  flex-direction: column;
}

.app__headerImage {
  object-fit: contain;
}



.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.app__postsRight {
  margin-left: 20px;
  justify-content: center;
  
}

.test{
  margin-top: 20px;
}



